<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_showAppMenu</key>
	<string>{"carbonKeyCode":2,"carbonModifiers":6400}</string>
	<key>NSStatusItem VisibleCC Item-0</key>
	<false/>
	<key>NSWindow Frame NSNavPanelAutoopenName</key>
	<string>173 572 898 404 0 0 1108 756 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>40 67 1630 979 0 0 1710 1069 </string>
	<key>NSWindow Frame SUUpdateAlert2</key>
	<string>230 580 573 402 0 0 1710 1073 </string>
	<key>NSWindow Frame Settings</key>
	<string>180 162 1200 911 0 0 1710 1073 </string>
	<key>Paddle-BetterDisplay-762421-SD</key>
	<string>1f51a1b7a82a07b09ab8b8095ec117dde7380201d74cb58bb26a94c66b345567</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-08-03T23:22:27Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>3231269816</integer>
	<key>activationPolicy@DisplayGroup:70</key>
	<string>anyTwoMembersPresent</string>
	<key>activationPriority@DisplayGroup:-1001</key>
	<integer>0</integer>
	<key>activationPriority@DisplayGroup:70</key>
	<integer>10</integer>
	<key>airPlay@Display:2</key>
	<false/>
	<key>airPlay@Display:77</key>
	<false/>
	<key>allIncluded@DisplayGroup:70</key>
	<false/>
	<key>allowIntegration@Display:77</key>
	<true/>
	<key>alwaysShowLoDPIModes</key>
	<true/>
	<key>appAlreadyLaunched</key>
	<true/>
	<key>appDisconnected@Display:2</key>
	<false/>
	<key>appDisconnected@Display:77</key>
	<false/>
	<key>appleCapable@Display:2</key>
	<true/>
	<key>appleCapable@Display:77</key>
	<false/>
	<key>appleMade@Display:2</key>
	<true/>
	<key>appleMade@Display:77</key>
	<false/>
	<key>appleVisionPro@Display:2</key>
	<false/>
	<key>appleVisionPro@Display:77</key>
	<false/>
	<key>audioKeyboardControl</key>
	<string>displayWithFocus</string>
	<key>audioMediaKeyAssumeControlMode</key>
	<string>whenNoNativeControl</string>
	<key>audioMediaKeyDisabled</key>
	<true/>
	<key>audioMediaKeyFineControlByDefault</key>
	<true/>
	<key>bottomRowQuitIcon</key>
	<false/>
	<key>bottomRowSettingsIcon</key>
	<false/>
	<key>buildNumber</key>
	<integer>52622</integer>
	<key>builtIn@Display:2</key>
	<true/>
	<key>builtIn@Display:77</key>
	<false/>
	<key>buttonRowAtTop</key>
	<false/>
	<key>canChangeOrientation@Display:2</key>
	<true/>
	<key>canChangeOrientation@Display:77</key>
	<true/>
	<key>centeredMenuIcon</key>
	<true/>
	<key>collapsibleToolsMenu</key>
	<true/>
	<key>colorModeMenuShowForcedHDR@Display:77</key>
	<false/>
	<key>colorProfilesSupported@Display:2</key>
	<true/>
	<key>colorProfilesSupported@Display:77</key>
	<true/>
	<key>colorTableCapable@Display:2</key>
	<true/>
	<key>colorTableCapable@Display:77</key>
	<true/>
	<key>configuredPotentialEDR@Display:2</key>
	<real>2</real>
	<key>configuredPotentialEDR@Display:77</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:2</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:77</key>
	<real>1</real>
	<key>connected@Display:2</key>
	<true/>
	<key>connected@Display:77</key>
	<false/>
	<key>currentColorProfileURL@Display:2</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Color%20LCD-37D8832A-2D66-02CA-B9F7-8F30A301B230.icc</string>
	<key>currentColorProfileURL@Display:77</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Sceptre%20Z27-FA04D6E8-4C89-41C1-9C64-ED44082BEEE4.icc</string>
	<key>customDisplayedImage@Display:2</key>
	<string>laptopcomputer</string>
	<key>customDisplayedImage@DisplayGroup:70</key>
	<string>desktopcomputer.and.macbook</string>
	<key>customDisplayedName@DisplayGroup:-1001</key>
	<string>Laptop</string>
	<key>customDisplayedName@DisplayGroup:70</key>
	<string>Desk</string>
	<key>ddcConfigurationNoticeDismissed@Display:2</key>
	<true/>
	<key>ddcConfigurationNoticeDismissed@Display:77</key>
	<true/>
	<key>defaultBitsPerSample@Display:2</key>
	<integer>10</integer>
	<key>defaultBitsPerSample@Display:77</key>
	<integer>10</integer>
	<key>defaultHeight@Display:2</key>
	<integer>956</integer>
	<key>defaultHeight@Display:77</key>
	<integer>1080</integer>
	<key>defaultIsHiDPI@Display:2</key>
	<true/>
	<key>defaultIsHiDPI@Display:77</key>
	<true/>
	<key>defaultModeNumber@Display:2</key>
	<integer>6</integer>
	<key>defaultModeNumber@Display:77</key>
	<integer>72</integer>
	<key>defaultRefreshRate@Display:2</key>
	<integer>60</integer>
	<key>defaultRefreshRate@Display:77</key>
	<integer>60</integer>
	<key>defaultRefreshString@Display:2</key>
	<string>60Hz</string>
	<key>defaultRefreshString@Display:77</key>
	<string>60Hz</string>
	<key>defaultWidth@Display:2</key>
	<integer>1470</integer>
	<key>defaultWidth@Display:77</key>
	<integer>1920</integer>
	<key>displayConfigurationId</key>
	<integer>7058</integer>
	<key>displayConfigurationId@Display:2</key>
	<integer>7058</integer>
	<key>displayConfigurationId@Display:77</key>
	<integer>7036</integer>
	<key>displayGroupTagIDs</key>
	<string>[70]</string>
	<key>displayModeMenuActiveFilterTagIds@Display:2</key>
	<string>[]</string>
	<key>displayModeMenuActiveFilterTagIds@Display:77</key>
	<string>["16:9_aspectRatio","60Hz_refreshString","10bit_bitsPerSample","LoDPI_backingScaleFactor","HiDPI_backingScaleFactor"]</string>
	<key>displayModeMenuCustomFilter@Display:2</key>
	<false/>
	<key>displayModeMenuCustomFilter@Display:77</key>
	<false/>
	<key>displayModeMenuShowAll@Display:2</key>
	<true/>
	<key>displayModeMenuShowAll@Display:77</key>
	<false/>
	<key>displayModeMenuShowFilter@Display:2</key>
	<true/>
	<key>displayModeMenuShowManageFavorites@Display:2</key>
	<false/>
	<key>displayModeMenuShowManageFavorites@Display:77</key>
	<false/>
	<key>displayModeMenuShowManualResolutions@Display:2</key>
	<false/>
	<key>displayModeMenuShowManualResolutions@Display:77</key>
	<false/>
	<key>displayTagIDs</key>
	<string>[2,77]</string>
	<key>dockIcon</key>
	<string>hide</string>
	<key>enabled@DisplayGroup:70</key>
	<true/>
	<key>factoryColorProfileURL@Display:2</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Color%20LCD-37D8832A-2D66-02CA-B9F7-8F30A301B230.icc</string>
	<key>factoryColorProfileURL@Display:77</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Sceptre%20Z27-FA04D6E8-4C89-41C1-9C64-ED44082BEEE4.icc</string>
	<key>firstAdded@Display:2</key>
	<real>754070560.73423398</real>
	<key>firstAdded@Display:77</key>
	<real>769717442.74891198</real>
	<key>glassOSDStyle</key>
	<string>topCenter</string>
	<key>hasAutoBrightness@Display:2</key>
	<true/>
	<key>hasAutoBrightness@Display:77</key>
	<false/>
	<key>hasHDR@Display:2</key>
	<false/>
	<key>hasHDR@Display:77</key>
	<false/>
	<key>hasHiDPI@Display:2</key>
	<true/>
	<key>hasHiDPI@Display:77</key>
	<true/>
	<key>hasNotch@Display:2</key>
	<true/>
	<key>hasNotch@Display:77</key>
	<false/>
	<key>hasUnderscanSupport@Display:2</key>
	<false/>
	<key>hasUnderscanSupport@Display:77</key>
	<false/>
	<key>heightMillimeters@Display:2</key>
	<real>188.92842525622518</real>
	<key>heightMillimeters@Display:77</key>
	<real>329.18399505615236</real>
	<key>hideMenuIcon</key>
	<true/>
	<key>highValue@blueHardwareGain-DDCController@Display:77</key>
	<integer>100</integer>
	<key>highValue@greenHardwareGain-DDCController@Display:77</key>
	<integer>100</integer>
	<key>highValue@hardwareBrightness-DDCController@Display:77</key>
	<integer>100</integer>
	<key>highValue@hardwareContrast-DDCController@Display:77</key>
	<integer>100</integer>
	<key>highValue@redHardwareGain-DDCController@Display:77</key>
	<integer>100</integer>
	<key>iconBounceAnimation</key>
	<true/>
	<key>isUnavailable@blueHardwareBlackLevel-DDCController@Display:77</key>
	<true/>
	<key>isUnavailable@blueHardwareGain-DDCController@Display:77</key>
	<false/>
	<key>isUnavailable@greenHardwareBlackLevel-DDCController@Display:77</key>
	<true/>
	<key>isUnavailable@greenHardwareGain-DDCController@Display:77</key>
	<false/>
	<key>isUnavailable@hardwareAmbientLight-AmbientLightController</key>
	<true/>
	<key>isUnavailable@hardwareAmbientLight-AmbientLightController@Display:2</key>
	<true/>
	<key>isUnavailable@hardwareAmbientLight-EnvironmentController</key>
	<true/>
	<key>isUnavailable@hardwareBacklight-DDCController@Display:77</key>
	<false/>
	<key>isUnavailable@hardwareBrightness-DDCController@Display:77</key>
	<false/>
	<key>isUnavailable@hardwareContrast-DDCController@Display:77</key>
	<false/>
	<key>isUnavailable@hardwareFactoryReset-DDCController@Display:77</key>
	<false/>
	<key>isUnavailable@hardwareInputSource-DDCController@Display:77</key>
	<false/>
	<key>isUnavailable@hardwarePower-DDCController@Display:77</key>
	<false/>
	<key>isUnavailable@mute-DDCController@Display:77</key>
	<true/>
	<key>isUnavailable@redHardwareBlackLevel-DDCController@Display:77</key>
	<true/>
	<key>isUnavailable@redHardwareGain-DDCController@Display:77</key>
	<false/>
	<key>isUnavailable@volume-DDCController@Display:77</key>
	<true/>
	<key>lastConnected@Display:2</key>
	<real>807492365.462852</real>
	<key>lastConnected@Display:77</key>
	<real>807179139.81145597</real>
	<key>lastNextToDisplayTagID@Display:2</key>
	<integer>4</integer>
	<key>lastStartStopPIPDisplayTagID</key>
	<integer>2</integer>
	<key>lastStartStopPipID@Display:2</key>
	<integer>1</integer>
	<key>lastUnseen@Display:2</key>
	<real>807177632.49064803</real>
	<key>lastUnseen@Display:77</key>
	<real>807242451.38667297</real>
	<key>lightMenuFonts</key>
	<false/>
	<key>lowValue@blueHardwareGain-DDCController@Display:77</key>
	<integer>0</integer>
	<key>lowValue@greenHardwareGain-DDCController@Display:77</key>
	<integer>0</integer>
	<key>lowValue@hardwareBrightness-DDCController@Display:77</key>
	<integer>0</integer>
	<key>lowValue@hardwareContrast-DDCController@Display:77</key>
	<integer>0</integer>
	<key>lowValue@redHardwareGain-DDCController@Display:77</key>
	<integer>0</integer>
	<key>matchMenuIconWithDisplay</key>
	<true/>
	<key>memberTagIDs@DisplayGroup:70</key>
	<string>[2,77]</string>
	<key>menuAnimationSpeed</key>
	<real>0.0</real>
	<key>menuCollapsed@Display:2</key>
	<false/>
	<key>menuCollapsed@Display:77</key>
	<false/>
	<key>menuHierarchicalRendering</key>
	<true/>
	<key>menuLevelBlueLight</key>
	<string>less</string>
	<key>menuLevelBrightness</key>
	<string>less</string>
	<key>menuLevelCheckForUpdates</key>
	<string>less</string>
	<key>menuLevelColorDepth</key>
	<string>more</string>
	<key>menuLevelColorMode</key>
	<string>more</string>
	<key>menuLevelColorProfile</key>
	<string>more</string>
	<key>menuLevelConfigProtection</key>
	<string>more</string>
	<key>menuLevelContrast</key>
	<string>more</string>
	<key>menuLevelDDCAdjustments</key>
	<string>more</string>
	<key>menuLevelDDCInput</key>
	<string>more</string>
	<key>menuLevelDisplayConnect</key>
	<string>less</string>
	<key>menuLevelDisplayDisconnect</key>
	<string>more</string>
	<key>menuLevelDisplayMode</key>
	<string>more</string>
	<key>menuLevelDisplaysAndVirtualScreens</key>
	<string>less</string>
	<key>menuLevelGroups</key>
	<string>less</string>
	<key>menuLevelImageAdjustments</key>
	<string>more</string>
	<key>menuLevelManageDisplay</key>
	<string>more</string>
	<key>menuLevelManageVirtualScreen</key>
	<string>more</string>
	<key>menuLevelMirror</key>
	<string>more</string>
	<key>menuLevelMove</key>
	<string>more</string>
	<key>menuLevelPIP</key>
	<string>more</string>
	<key>menuLevelQuit</key>
	<string>less</string>
	<key>menuLevelRefreshRate</key>
	<string>more</string>
	<key>menuLevelResolution</key>
	<string>more</string>
	<key>menuLevelRotation</key>
	<string>more</string>
	<key>menuLevelSettings</key>
	<string>less</string>
	<key>menuLevelShowConsole</key>
	<string>hide</string>
	<key>menuLevelStream</key>
	<string>more</string>
	<key>menuLevelToggles</key>
	<string>more</string>
	<key>menuLevelVideoFilterWindow</key>
	<string>less</string>
	<key>menuLevelVirtualScreenConnect</key>
	<string>less</string>
	<key>menuLevelVirtualScreenDisconnect</key>
	<string>more</string>
	<key>menuLevelVolume</key>
	<string>more</string>
	<key>menuLevelXDRPreset</key>
	<string>more</string>
	<key>moreOptions@Display:2</key>
	<false/>
	<key>moreOptions@Display:77</key>
	<true/>
	<key>name@Display:2</key>
	<string>Color LCD</string>
	<key>name@Display:77</key>
	<string>Sceptre Z27</string>
	<key>nativeHeight@Display:2</key>
	<integer>1664</integer>
	<key>nativeHeight@Display:77</key>
	<integer>2160</integer>
	<key>nativeModeNumber@Display:2</key>
	<integer>13</integer>
	<key>nativeModeNumber@Display:77</key>
	<integer>121</integer>
	<key>nativeWidth@Display:2</key>
	<integer>2560</integer>
	<key>nativeWidth@Display:77</key>
	<integer>3840</integer>
	<key>neutralValueOverride@blueHardwareGain-DDCController@Display:77</key>
	<real>0.5</real>
	<key>neutralValueOverride@greenHardwareGain-DDCController@Display:77</key>
	<real>0.5</real>
	<key>neutralValueOverride@hardwareContrast-DDCController@Display:77</key>
	<real>0.5</real>
	<key>neutralValueOverride@redHardwareGain-DDCController@Display:77</key>
	<real>0.5</real>
	<key>nonAppleRealDisplay@Display:2</key>
	<false/>
	<key>nonAppleRealDisplay@Display:77</key>
	<true/>
	<key>notificationStyle</key>
	<string>userNotification</string>
	<key>onboardingMenuIcon</key>
	<false/>
	<key>onboardingMoreIcon</key>
	<false/>
	<key>onboardingSettingsIcon</key>
	<false/>
	<key>osdIntegrationNotification</key>
	<true/>
	<key>osdShowBasic</key>
	<false/>
	<key>osdShowCustom</key>
	<false/>
	<key>overrideCapable@Display:2</key>
	<true/>
	<key>overrideCapable@Display:77</key>
	<true/>
	<key>persistedDisplayID@Display:2</key>
	<string>1</string>
	<key>persistedDisplayID@Display:77</key>
	<string>2</string>
	<key>pipAlpha@Display:0</key>
	<real>1</real>
	<key>pipAlpha@Display:2</key>
	<real>1</real>
	<key>pipDisplayTagID@Display:0</key>
	<integer>2</integer>
	<key>pipDisplayTagID@Display:2</key>
	<integer>2</integer>
	<key>pipHeight@Display:0</key>
	<real>0.028776978417266189</real>
	<key>pipHeight@Display:2</key>
	<real>0.44694244604316546</real>
	<key>pipOriginX@Display:0</key>
	<real>0.32631578947368423</real>
	<key>pipOriginX@Display:2</key>
	<real>0.058479532163742687</real>
	<key>pipOriginY@Display:0</key>
	<real>0.55305755395683454</real>
	<key>pipOriginY@Display:2</key>
	<real>0.15467625899280577</real>
	<key>pipWidth@Display:0</key>
	<real>0.33040935672514621</real>
	<key>pipWidth@Display:2</key>
	<real>0.42105263157894735</real>
	<key>pipfilterEnableEDR@Display:0</key>
	<false/>
	<key>pipfilterEnableEDR@Display:2</key>
	<false/>
	<key>preReleaseChannel</key>
	<true/>
	<key>resolutionFavorites@Display:77</key>
	<string>[{"perfectMatch":true,"bitsPerSample":10,"refreshRate":60,"slotNumber":3,"refreshString":"60Hz","height":1440,"hiDPI":true,"actionableDisplayNumber":97,"modeNumber":97,"width":2560}]</string>
	<key>resolutionSliderAsMagnificationLevel</key>
	<true/>
	<key>restoreFramebufferSettingEnableDithering@Display:77</key>
	<true/>
	<key>settingsDisplayGroupPaneSelectedTagID</key>
	<integer>70</integer>
	<key>settingsDisplayPaneSelectedTagID</key>
	<integer>0</integer>
	<key>settingsPaneId</key>
	<string>ApplicationPane</string>
	<key>sheetSizeSaveEntries</key>
	<string>[{"id":"IntegrationConfigurationSheet","width":610,"height":540},{"id":"DDCConfigurationSheet","width":650,"height":540},{"id":"ShortcutsSheetView","width":740,"height":540},{"id":"DisplayInformationSheetView","width":660,"height":560},{"id":"SymbolPickerSheet","width":760,"height":560}]</string>
	<key>showAdditionalPrivacySettings</key>
	<true/>
	<key>showAdditionalSettings@Display:2</key>
	<true/>
	<key>showAdvancedControlSettings@Display:2</key>
	<true/>
	<key>showAdvancedDisplaysSettings</key>
	<true/>
	<key>showAdvancedMenuAppearance</key>
	<true/>
	<key>showAdvancedMenuCustomization</key>
	<true/>
	<key>showAudioMediaKeyAdditionalSettings</key>
	<true/>
	<key>showColortableAdjustmentsAdvancedSettings</key>
	<true/>
	<key>showDisplayConnectionManagementDetails</key>
	<true/>
	<key>showDisplayGroupsActivationSettings@DisplayGroup:-1001</key>
	<true/>
	<key>showDisplayGroupsActivationSettings@DisplayGroup:70</key>
	<true/>
	<key>showDisplayGroupsAdditionalSettings@DisplayGroup:70</key>
	<true/>
	<key>showHardwareControlShowSettings@Display:2</key>
	<true/>
	<key>showHeaderWithOneDevice</key>
	<true/>
	<key>showIntegrationDetails</key>
	<true/>
	<key>showMainDisplayFirst</key>
	<true/>
	<key>showMementoDisplaysInDisplayGroupsMemberList@DisplayGroup:70</key>
	<true/>
	<key>showMementoDisplaysInSettings</key>
	<false/>
	<key>showMenuHeaderIcons</key>
	<true/>
	<key>showMenuIcons</key>
	<true/>
	<key>showOverrideAdvancedSettings@Display:2</key>
	<true/>
	<key>showPipWithSingleDisplay</key>
	<true/>
	<key>showProLicenseError</key>
	<false/>
	<key>showProLicenseExpiryError</key>
	<false/>
	<key>showResolutionSliderOptions</key>
	<true/>
	<key>showResolutionSubmenuOptions</key>
	<true/>
	<key>showScaleMatchingDetails@DisplayGroup:70</key>
	<true/>
	<key>showSettingsDetails</key>
	<true/>
	<key>showSliderLabels</key>
	<true/>
	<key>showSmoothScaleAdvancedSettings@Display:2</key>
	<true/>
	<key>showSubSlidersForCombinedBrightness</key>
	<true/>
	<key>showVideoMediaKeyAdditionalSettings</key>
	<true/>
	<key>sidecar@Display:2</key>
	<false/>
	<key>sidecar@Display:77</key>
	<false/>
	<key>singleMoreMenuTagID</key>
	<integer>77</integer>
	<key>sleepPreventionMenuIcon</key>
	<true/>
	<key>sliderScroll</key>
	<true/>
	<key>storedDisplayID@Display:2</key>
	<integer>1</integer>
	<key>storedIdentifiers@Display:2</key>
	<string>[{"infoDictionaryModelNumber":41042,"edidProductName":"Color LCD","productName":"Color LCD","modelNumber":41042,"systemUUID":"37D8832A-2D66-02CA-B9F7-8F30A301B230","infoDictionaryVendorNumber":1552,"infoDictionarySerial":4251086178,"vendorNumber":1552,"ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io@10F00000\/AppleT811xIO\/disp0@30000000\/AppleCLCD2","serial":4251086178}]</string>
	<key>storedIdentifiers@Display:77</key>
	<string>[{"productName":"Sceptre Z27","yearOfManufacture":2023,"vendorNumber":19988,"systemUUID":"FA04D6E8-4C89-41C1-9C64-ED44082BEEE4","weekOfManufacture":15,"modelNumber":27403,"serial":0,"ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io@10F00000\/AppleT811xIO\/dispext0@70000000\/AppleCLCD2","portID":16,"infoDictionaryModelNumber":27403,"infoDictionarySerial":0,"edidData":"AP\/\/\/\/\/\/\/wBOFAtrAAAAAA8hAQOAPCF4LlmVr09CryYPUFQjCACBwIEAgUCBgJUAswABAYHAMc4ARvBwWoAgEEoAVlAhAAAaAAAA\/QAyPA\/MPAAKICAgICAgAAAA\/ABTY2VwdHJlIFoyNwogAjqAGHE4LUBYLEUAVlAhAAAAAQcCAzTySAQDAgFfWgCQIwkPB4MBAABtAwwAEAA4PCAAYAECA2fYXcQBeMAAaBoAAAEAMjzmBHQAMPJwWoCwWDYAVlAhAAAeVl4AoKCgKVAwIDUAVlAhAAAeAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==","edidProductName":"Sceptre Z27","infoDictionaryVendorNumber":19988}]</string>
	<key>supportsHDR@Display:2</key>
	<false/>
	<key>supportsHDR@Display:77</key>
	<true/>
	<key>syncEnabled@DisplayGroup:-1001</key>
	<true/>
	<key>syncEnabled@DisplayGroup:70</key>
	<true/>
	<key>systemVirtual@Display:2</key>
	<false/>
	<key>systemVirtual@Display:77</key>
	<false/>
	<key>tagIDCounter</key>
	<integer>140</integer>
	<key>thirdPartyVirtual@Display:2</key>
	<false/>
	<key>thirdPartyVirtual@Display:77</key>
	<false/>
	<key>toolsMenuCollapsed</key>
	<true/>
	<key>toolsMoreOptions</key>
	<false/>
	<key>tv@Display:2</key>
	<false/>
	<key>tv@Display:77</key>
	<false/>
	<key>unknownDisplay@Display:2</key>
	<false/>
	<key>unknownDisplay@Display:77</key>
	<false/>
	<key>updateBuild</key>
	<string>52622</string>
	<key>updateFound</key>
	<true/>
	<key>updateVersion</key>
	<string>5.0.1</string>
	<key>uuid@Display:0</key>
	<integer>0</integer>
	<key>uuid@Display:2</key>
	<integer>2</integer>
	<key>uuid@Display:77</key>
	<integer>77</integer>
	<key>uuid@DisplayGroup:-1001</key>
	<integer>-1001</integer>
	<key>uuid@DisplayGroup:70</key>
	<integer>70</integer>
	<key>value@blueLight-BlueLightController</key>
	<real>1</real>
	<key>value@blueLight-EnvironmentController</key>
	<real>1</real>
	<key>value@combinedBrightness-CombinedController@Display:2</key>
	<real>0.609375</real>
	<key>value@combinedBrightness-CombinedController@Display:77</key>
	<real>0.796875</real>
	<key>value@contrast-ColorController@Display:77</key>
	<real>0.0</real>
	<key>value@gain-ColorController@Display:77</key>
	<real>0.0</real>
	<key>value@gamma-ColorController@Display:77</key>
	<real>0.0</real>
	<key>value@hardwareBrightness-AppleController@Display:2</key>
	<real>0.484375</real>
	<key>value@hardwareBrightness-DDCController@Display:77</key>
	<real>0.59375</real>
	<key>value@hardwareContrast-DDCController@Display:77</key>
	<real>0.5</real>
	<key>value@quantization-ColorController@Display:77</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:2</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:77</key>
	<real>1</real>
	<key>value@temperature-ColorController@Display:77</key>
	<real>0.0</real>
	<key>videoKeyboardControl</key>
	<string>all</string>
	<key>videoMediaKeyAssumeControlMode</key>
	<string>whenThereIsOtherwiseUncontrollableDevice</string>
	<key>videoMediaKeyDisabled</key>
	<false/>
	<key>videoMediaKeyFineControlByDefault</key>
	<true/>
	<key>virtualScreenLinked@Display:2</key>
	<false/>
	<key>virtualScreenLinked@Display:77</key>
	<false/>
	<key>virtualScreenTagIDs</key>
	<string>[]</string>
	<key>warningsDismissed</key>
	<string>["Disconnect"]</string>
	<key>widthMillimeters@Display:2</key>
	<real>290.52842373034628</real>
	<key>widthMillimeters@Display:77</key>
	<real>600.22152944711547</real>
	<key>xdrPresetsSupported@Display:2</key>
	<false/>
	<key>xdrPresetsSupported@Display:77</key>
	<false/>
</dict>
</plist>
